.podcast {
    font-size: 12px;
}
.author {
    font-size: 11px;
}
.description-title {
    font-size: 11px;
}
.description {
    font-size: 10px;
    line-height: 11px;
}

.episodes-container {
    width: 600px;
}
.episodes-information,
.episodes-dateTime {
    display: flex;
    justify-content: space-around;
}

.episodes-dateTime {
    width: 230px;
}

.text {
    font-size: 14px;
}
