.episodes-container {
    width: 600px;
}
.episodes-information,
.episodes-dateTime {
    display: flex;
    justify-content: space-around;
}

.episodes-dateTime {
    width: 230px;
}

.text {
    font-size: 14px;
}
